body {
    position: relative;
    margin: 0 auto;
    padding: 2em 4em 2em 6em;
    max-width: 100%;
    min-height: 100%;
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    line-height: 1.25em;
    color: #000000;
    border-top: 5px solid #BBE9DE;
}
.title {
    font-weight: 500;
    font-size: 3rem;
    color: #42338B;
    letter-spacing: .1em;
    text-shadow: .08em .08em .03em #BBE9DE, .1em .1em 0 #ffffff;
}
a {
    font-weight: 500;
    text-decoration: none;
    color: #42338B;
}
a:hover {
    color: #F35029; 
}
header {
    padding-bottom: 1.5em;
    line-height: 50%;
}
.line {
    background-color: #BBE9DE; 
    height: 2px; 
    width: 100%;
}
.image {
    float: right;
}
.caption {
    text-align: right;
    font-size: 75%;
}
#bio img {
    float: right;
    padding-left: 1.25em;
    padding-top: 0.25em;
}
#cv {
    font-weight: 500;
}
#studentwork {
    column-count: 3;
    column-width: 200px;
    column-gap: 1em;
    padding-bottom: 1em;
    /*column-rule: 1px double #87adb0;*/
}
h4 {
    margin: 0;
}
.column {
    break-inside: avoid;
}
#footer {
    position: flex;
    clear: both;
    width: 100%;
    right: 0;
    bottom: 0;
    text-align: right;
    font-size: 75%;
    padding-top: 1em;
}